{{ include('JobeetJobBoardBundle:Job:list.html.twig', { 'jobs': jobs }) }}

{% if count > jobs|length %}
  <div class="more_jobs">
    and <a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ count - jobs|length }}</a>
    more...
  </div>
{% endif %}
